{{#extends "base"}}
{{#block "content"}}
<h1>Deleting {{lure.name}}</h1>

<form method="POST">
    <div class="alert alert-danger">
        <p>Are you sure you want to delete {{lure.name}}?</p>
        <input type="submit" class="btn btn-danger" value="Yes"/>
        <a href="/lures" class="btn btn-success">No</a>
    </div>
</form>
{{/block}}
{{/extends}}