{{#extends "base"}}
{{#block "content"}}
<h1 class="mt-3">Updating {{lure.name}}</h1>

<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <a href='/lures'class="btn btn-danger mt-3 me-2">Cancel Update</a>
    <input type="submit" value="Update Lure" class="btn btn-primary mt-3"/>
</form>

{{/block}}
{{/extends}}