{{#extends 'base'}}

{{#block 'content'}}

<div class="mt-3">
<span class="fs-4">{{getDisplayUsername user}}'s Profile</span>
</div>
<hr>
<ul>
    <li>Username: {{user.username}}</li>
    <li>Email:{{user.email}}</li>
</ul>

{{/block}}

{{/extends}}